[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
Comment=Eclipse for Developers
Icon={{ home }}/icon.xpm
Exec={{ home }}/{{ command }}
Terminal=false
Type=Application
